.root {
    border-radius: 10px;
    text-align: center;
    color: whitesmoke;
    padding: 20px 30px;
    margin: 7px;
    transition: .2s linear;
    background: SlateGray;
}

.root:hover {
    background-position: right center;
    box-shadow: 0 0 0 2px white, 0 0 0 4px SlateGray;
}

.root:disabled {
	background-color: LightGray;
	border-color: #eee;
	color: #444;
	cursor: not-allowed;
    box-shadow:none;
}

.title {
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 35px;
}